.value_title{
    float: left;
    border-bottom: 2px solid;
    color: royalblue;
    font-size: 1.5em;
}
.poll_option_list {
    text-align: left;
    padding-left: 10em;
}
.option {
    margin: 2em ;
}
.detail {
    font-size: 1.5em;
    color: green;
    float: right;
    margin-right: 5em;
    
}

.sign_out {
    margin-left:75em;
    color:white;
}
